/* || RESET */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

img, video {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    border: unset;
    font: inherit;
}

a {
    text-decoration: none;
}

p, label, legend, h1, h2, h3 {
    overflow-wrap: break-word;
}

p, label, legend {
    line-height: 1.5;
}

ul, ol {
    list-style-type: none;
}

/* || BASE */

html {
    font-family: "Inter", sans-serif;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}
